<!-- TUTORIAL TITTA  -->
<ion-content>
  <ion-slides pager="true">

    <!-- SLIDE1 -->
    <ion-slide>
        <img src="../../../assets/images/slide-titta-1.png" (click)="titta()">
    </ion-slide>

    <!-- SLIDE 2 -->
    <ion-slide>
        <img src="../../../assets/images/slide-titta-2.png">
    </ion-slide>

    <!-- SLIDE3 -->
    <ion-slide>
        <img src="../../../assets/images/slide-titta-3.png">
    </ion-slide>

    <!-- SLIDE 4 -->
    <ion-slide>
      <!-- CLICANDO PARA IR PARA GRAVAÇÕES TITTA -->
        <img src="../../../assets/images/slide-titta-4.png" (click)="titta()">
    </ion-slide>
  </ion-slides>
</ion-content>
