<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Titta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content padding>

    <!-- TITTA -->
    
    <!-- CARD -->
    <ion-card>
      <img src="../../../assets/images/audio.jpg" class="image">
      <ion-card-header>
        <ion-card-title>Workshop FIAP</ion-card-title>
        <ion-card-subtitle>Gravação feita no dia 25/05</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Workshop da FIAP sobre a quarta revolução indutrial.
      </ion-card-content>
    </ion-card>

  </ion-content>