<div id="custom-overlay" [style.display]="splash ? 'flex' : 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/icon/iel.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>


<ion-content>
  <!--BACKGROUND-->
  <div class="bg-image">
    <!--OVRELAY-->
    <div class="overlay">
    <div class="logo">
        <img src="assets/icon/iel.png">
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <input type ="text" placeholder="Login">
  <input type="password" placeholder="Senha">

  <ion-button expand="block"  class="login">LOGIN</ion-button>
</div>
</div>
</ion-content>
