<div id="custom-overlay" [style.display]="splash ? 'flex' : 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="../../../assets/icon/iel.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>


<ion-content>
  <!--BACKGROUND-->
  <div class="bg-image">
    <!--OVRELAY-->
    <div class="overlay">
      <!-- CONTAINER-->
      <div class="container">
        <!--LOGO-->
        <div class="center padding-top-10-percent">
          <img src="../../../assets/icon/iel_s_80.png" class="logo">
        </div>

        <!-- LOGIN -->
        <div *ngIf="login">
          <!--CONTEUDO-->
          <div class="mg-top-10">
            <!--TÍTULO-->
            <h5 class="snow-color center bold no-margin">
              Pelo futuro da indústria
            </h5>
            <!-- SUBTÍTULO -->
            <p class="assist-snow-color center light no-margin mg-top-40">
              Efetue o login para continuar
            </p>
          </div>

          <!-- FORMS -->
          <div class="no-pading padding-left-right-15 mg-top-15">

            <!-- EMAIL -->
            <div>
              <ion-label position="stacked" class="snow-color bold text-form">Email</ion-label>
              <ion-item class="no-padding mg-top-5">
                <ion-input clear-input class="iel-color" type="email" placeholder="Email" [(ngModel)]="loginForm.email"></ion-input>
              </ion-item>
            </div>

            <!-- SENHA -->
            <div class="mg-top-20">
              <ion-label position="stacked" class="snow-color bold text-form">Senha</ion-label>
              <ion-item class="no-padding mg-top-5">
                <ion-input clear-input class="iel-color" type="password" placeholder="Senha" [(ngModel)]="loginForm.password"></ion-input>
              </ion-item>
            </div>
            <!-- ESQUECEU SUA SENHA -->
            <div class="esqueceu mg-top-5 bold" (click)="exibirEsqueceu()">
              Esqueceu sua senha?
            </div>

            <!-- BUTTON LOGIN -->
            <div class="padding-left-right-40 mg-top-20">
              <div class="btn-login center bold" (click)="fazerLogin()">
                LOGIN
              </div>
            </div>

            <!-- NOVA CONTA -->
            <div class="btn-n-conta mg-top-20 center bold" (click)="exibirCadastro()">
              Não possui uma conta? Cadastre-se agora
            </div>

            <!-- DIVISÓRIA -->
            <div class="ou-color mg-top-15 center">
              ou
            </div>

            <!-- BUTTON GOOGLE -->
            <div class="padding-left-right-40 mg-top-15">
              <div class="btn-google center">
                <ion-icon name="logo-googleplus"></ion-icon>
                Sign up with Google
              </div>
            </div>

            <!-- BUTTON FACEBOOK -->
            <div class="padding-left-right-40 mg-top-15">
              <div class="btn-face center">
                <ion-icon name="logo-facebook"></ion-icon>
                Sign up with Facebook
              </div>
            </div>
          </div>
        </div>

        <!-- ESQUECI A SENHA -->
        <div *ngIf="esqueceu">
          <!--CONTEUDO-->
          <div class="mg-top-10">
            <!--TÍTULO-->
            <h5 class="snow-color center bold no-margin">
              Pelo futuro da indústria
            </h5>
            <!-- SUBTÍTULO -->
            <div class="mg-esqueci-sub">
            <p class="assist-snow-color center mg-top-20">
              Digite o email cadastrado
            </p>
          </div>
          </div>
          <!-- FORMS -->
          <div class="no-pading padding-left-right-15 mg-top-15">

            <!-- EMAIL -->
            <div class="mg-top-20">
              <ion-label position="stacked" class="snow-color bold text-form">Email</ion-label>
              <ion-item class="no-padding mg-top-5">
                <ion-input clear-input class="iel-color" type="email" placeholder="Digite o seu endereço de email" [(ngModel)]="esqueceuForm.email">
                </ion-input>
              </ion-item>
            </div>
            <!-- BUTTON PROSSEGUIR -->
            <div class="padding-left-right-40 mg-top-70">
              <div class="btn-cadastro center bold"(click)="resetPassword()">
                CONTINUAR
              </div>
            </div>
            <!-- VOLTAR -->
            <div class="btn-s-conta mg-top-30 center bold" (click)="exibirLogin()">
              Voltar
            </div>
          </div>
        </div>

        <!-- CADASTRO -->
        <div *ngIf="cadastro">
          <!--CONTEUDO-->
          <div class="mg-top-10">
            <!--TÍTULO-->
            <h5 class="snow-color center bold no-margin">
              Pelo futuro da indústria
            </h5>
            <!-- SUBTÍTULO -->
            <p class="assist-snow-color center no-margin mg-top-40">
              Preencha os dados para se cadastrar
            </p>
          </div>

          <!-- FORMS -->
          <div class="no-pading padding-left-right-15 mg-top-15">

            <!-- NOME -->
            <div class="mg-top-20">
              <ion-label position="stacked" class="snow-color text-form bold">Nome</ion-label>
              <ion-item class="no-padding mg-top-5">
                <ion-input clear-input class="iel-color" type="text" placeholder="Digite o seu nome completo" [(ngModel)]="cadastroForm.nome">
                </ion-input>
              </ion-item>
            </div>

            <!-- EMAIL -->
            <div class="mg-top-20">
              <ion-label position="stacked" class="snow-color bold text-form">Email</ion-label>
              <ion-item class="no-padding mg-top-5">
                <ion-input clear-input class="iel-color" type="email" placeholder="Digite o seu endereço de email" [(ngModel)]="cadastroForm.email">
                </ion-input>
              </ion-item>
            </div>

            <!-- SENHA -->
            <div class="mg-top-20">
              <ion-label position="stacked" class="snow-color bold text-form">Senha</ion-label>
              <ion-item class="no-padding mg-top-5">
                <ion-input clear-input class="iel-color" type="password" placeholder="Digite uma senha" [(ngModel)]="cadastroForm.password"></ion-input>
              </ion-item>
            </div>

            <!-- BUTTON CADASTRAR -->
            <div class="padding-left-right-40 mg-top-40">
              <div class="btn-cadastro center bold" (click)="fazerCadastro()">
                CADASTRAR
              </div>
            </div>
            <!-- JÁ POSSUO CONTA -->
            <div class="btn-s-conta mg-top-30 center bold" (click)="exibirLogin()">
              Já possui uma conta?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>