<!-- SLIDER TUTORIAL TITTAN -->
<ion-content>
    <ion-slides pager="true">
  <!-- SLIDE 1 -->
      <ion-slide>
          <img src="../../../assets/images/slide-tittan-1.png" (click)="tittan()">
      </ion-slide>
  
      <!-- SLIDE 2 -->
      <ion-slide>
          <img src="../../../assets/images/slide-tittan-2.png">
      </ion-slide>
  
      <!-- SLIDE 3 -->
      <ion-slide>
        <!-- CLICNADO PARA IR PARA PÁGINA DO TITTAN -->
          <img src="../../../assets/images/slide-tittan-3.png" (click)="tittan()">
      </ion-slide>
    </ion-slides>
  </ion-content>