.titulos{
    text-align:  center;

}

.customSlides{
    width:100%;
    height: 30%;
}
.slide{
    width:94% !important;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 2%;
    background-size: cover;
    
}
.slide2{
    margin-left:4%;
}



